body {
  text-align: center;
  padding: 50px;
  color: white;
  background: url(./photos/pattern.jpg) no-repeat;
  background-size: cover;
}

.black-background {
  height: 350px;
  width: 500px;
  margin: auto;
  background-color: black;
  padding: 50px;
}
h1 {
  font-size: 70px;
}

p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px
}

#firstLine {
  padding-top: 50px;
}

#thirdLine {
  padding-bottom: 50px;
}

input {
  width: 100px;
  height: 20px;
  color: gray;
  font-size: 20px;
}

button {
  font-size: 20px;
  border: 2px solid gray;
}

/*.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}*/

#errorPrompt {
  padding-top: 24px;
  color: indianred;
}

.button {
  padding: 20px;
}
